.box1{
    width: 200px;
    height: 200px;
    background-color: royalblue;
    position: static;
left: 250px;
}
.box2{
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    top: 50px;
    left: 50px;
}
.button {
  background-color: #b4cf39;
  /* color: rgb(127, 148, 33); */
  padding: 10px 20px; /* Use a valid value */
  border: 5px solid;
  /* cursor: pointer; */
  /* transition: 0.7s; */
  margin: 5px auto;
}

.button:hover {
  background-color: #002ead;
}