section{
    width: 80%;
    height: 800px;
    background:center/cover no-repeat url("https://images.unsplash.com/photo-1750439799809-e8067c8d3ff5?q=80&w=387&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"), blueviolet ;
    margin: 0 auto;
}
  
h1{
   
    
    font-size: 100px;
  color: white;

}